<form class="create-question">
  <div class="create-question-title">
    <input type="text" name="title" placeholder="タイトル">
  </div>
  <div class="create-question-content">
    <textarea name="content" placeholder="質問内容">
  </textarea>
  </div>
  <div class="creator-name-question">
    <input type="text" name="poster_name" placeholder="投稿者名">
  </div>
  <div class="create-question-button">
    <input type="submit" name="POST">
  </div>
</form>