<main class="new">
  <div class="question-form">
    <div class="question-form-header"></div>
    <div class="question-form-main">
      <%=render partial:"form" ,locals:{question:@question} %>
    </div>
  </div>
</main>