<main class="show">
  <div class="questions">
    <%=render partial:"question" ,locals:{question:@question} %>
  </div>
  <div class="questions">
    <%=render partial: "answers/index",locals:{answers:@answers}%>
  </div>
  <div class="question-form">
    <%=render partial: "answers/new",locals:{answer:@answer,question:@question}%>
  </div>
</main>